:root {
	--dark: #1E1F1C;
	--medium: #272822;
	--light: #34352F;
	--text-medium: #949480;
	--text-light: #f8f8f2;
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
	background-color: var(--dark);
	color: var(--text-medium);
	font-family: Calibri, sans-serif;
	font-size: 1.4rem;
}

div, h1, p {
	margin: 0;
	padding: 0;
}

a, a:visited {
	color: #0000dd;
}

/* ----------App---------- */
